.shop-img{
  width: 492px;
  height: 375px;
}
h4{
  font-family: cursive;
  position: relative;
  top: 10px;
  background-color: purple;
  color: #fff;
  padding: 1rem 2rem 1rem;
}
.coins{
  position: relative;
  top: 10px;
}
.child{
  background-color: #f05454;
}
.input-coin{
  margin: 5px;
  padding: 5px;
}
.input-coins{
  margin-top: 20px;
}
.sub{
  position: relative;
  top: 10px;
}
.hidden{
  visibility: hidden;
}
.shop{
  margin-top: 8%;
}
