.imag{
  margin: 10px;
  width: 4rem;
  height: 4rem;
  padding: 2px;
  border-style: solid;
}
h1{
  display: inline-block;
}
.answers{
  display: inline-block;
  padding-left: 2rem;
}
.letters{
  position: relative;
  left: 30%;
  right: 30%;
}
.score{
  display: inline-block;
  /* margin-bottom: 50%; */
  position: absolute;
  margin-top: 5%;
  margin-left: 5%;
}
.game{
  border-radius: 10%;
  display: inline-block;
  margin-top: 5%;
  margin-left: 30%;
  width: 50%;
  padding: 10px;
  background-color: #af6b58;
}
