.men{
  margin: 10% 20% 2%;
  padding-left: 10%;
}
img{
  width: 20rem;
  height: 30rem;
  padding: 30px 50px;
}
.man{
  display: inline-block;
  /* padding-left: 4rem; */
  padding-right: 4rem;
}
.sum{
  display: inline-block;
  color: blue;
  padding-top: 2rem;
  padding-left: 18rem;
}
button{
  background-color: red;
  display: inline-block;
  margin-left: 2rem;
}
.man-1{
  color: red;
  text-align: center;
  display: inline-block;
  padding-left: 2px;
  margin-left: 80px;
  margin-right: 58px;
}
.man-2{
  color: red;
  text-align: center;
  display: inline-block;
  padding-left: 2px;
  margin-left: 80px;
  margin-right: 58px;
}
