.num{
  display: inline-block;
}
img{
  position: relative;
  bottom: 10px;
  margin: 0 5px 0;
}
.numbers{
  text-align: center;
  margin-top: 20%;
}
.level-bar{
  padding: 5px;
  position: relative;
  right: 12.5rem;
  /* text-align: left; */
}
.l1{
  background-color: red;
  padding: 2px;
  display: inline-block;
  border-style: double;
}
.l2{
  background-color: red;
  padding: 2px;
  border-style: double;
  display: inline-block;
}
/* .info{
  position: relative;
  right: 7.5rem;
} */
